# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# PyCharm
.idea/

# VSCode
.vscode/

# env files
.env

# macOS
.DS_Store

# logs
*.log

# SQLite
*.db

# compiled C extensions
*.so
